<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1" />
<title>Empleados</title>
<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />

</head>
<body>

	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="#">BANCO ACME S.A.</a>
			</div>
			<ul type="square" class="nav navbar-nav">
				<li><a th:href="@{/rest-client/cuentas}">Cuentas y Ahorros</a></li>
				<li><a th:href="@{/rest-client/movimientos}">Consulta de Movimientos</a></li>
				<li><a th:href="@{/logout}">Cerrar sesion</a></li>
			</ul>
		</div>
	</nav>

	<div class="container">
		<h1>Cuentas y Ahorros</h1>
		<div class="table-responsive col-lg-8">
			<table class="table table-striped">
				<thead>
				    <th>IdCuenta</th>
					<th>Nro Cuenta</th>
					<th>Tipo</th>
					<th>Moneda</th>
					<th>Saldo</th>
					
				</thead>
				<tbody th:each="cuentas : ${cuentas}" > 
				<tr>
					<td th:text="${cuentas.idCuenta}"></td>
					<td th:text="${cuentas.nroCuenta}"></td>
					<td th:text="${cuentas.tipo}"></td>
					<td th:text="${cuentas.moneda}"></td>
					<td th:text="${cuentas.saldo}"></td>
					<td><a th:href="@{/rest-client/cuentas/transferir/{idCuenta}(idCuenta=${cuentas.idCuenta})}">Realizar Transferencias</a> </td>
				</tr>					
				</tbody>
			</table>
		</div>			
	</div>
</body>
</html>