<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1" />
<title>Login</title>
<link th:href="@{/css/login.css}" rel="stylesheet" />

</head>
<body>
     <div class="navbar-header">
				<a class="navbar-brand" > <p align="center"> Acceso de usuarios</p></a>
			</div>
	<span th:text="${error}"></span>
	<form th:action="@{/login}" method="post">
	   <p align="center">
		<input type="text" name="username" placeholder="Numero de documento" /><br/> <br/>
		<input type="password" name="password" placeholder="Clave de acceso" /> <br/> <br/>
		<input type="submit" name="login" class="login login-submit" value="Acceder" th:action="@{/rest-client}"/>
		</p>
	</form>
</body>
</html>