<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1" />
<title>Empleados</title>
<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />

</head>
<body>

	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="#">BANCO ACME S.A.</a>
			</div>
			<ul type="square" class="nav navbar-nav">
				<li><a th:href="@{/rest-client/cuentas}">Cuentas y Ahorros</a></li>
				<li><a th:href="@{/rest-client/movimientos}">Consulta de Movimientos</a></li>
				<li><a th:href="@{/logout}">Cerrar sesion</a></li>
			</ul>
		</div>
	</nav>

	<div class="container">
		<h1>Movimientos</h1>
		<div class="table-responsive col-lg-8">
			<table class="table table-striped">
				<thead>
				    <th>IdMovimiento</th>
					<th>Fecha Hora</th>
					<th>IdCuenta</th>
					<th>Tipo Mov</th>
					<th>Monto</th>
					
				</thead>
				<tbody th:each="movimientos : ${movimientos}" > 
				<tr>
					<td th:text="${movimientos.idMovimiento}"></td>
					<td th:text="${movimientos.fechaHora}"></td>
					<td th:text="${movimientos.idCuenta}"></td>
					<td th:text="${movimientos.tipoMovimiento}"></td>
					<td th:text="${movimientos.monto}"></td>
					<td><a th:href="@{/rest-client/movimientos/transferir/{idMovimiento}(idMovimiento=${movimientos.idMovimiento})}">Realizar Transferencias</a> </td>
				</tr>					
				</tbody>
			</table>
		</div>			
	</div>
</body>
</html>